<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="images/bg.jpg">
    <h1><%= title %></h1>
    <a href="/upload"><h2>Welcome to <%= title %></h2></a>
  </body>
</html>
